@model IEnumerable<Cms.Models.ViewModels.Pages.PageViewModel>
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Dodaj nową stronę", "AddPage")
</p>

@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>
}

@if (!Model.Any())
{
    <h3 class="text-center"> Brak stron  - chcesz dodać nową?</h3>


}

<table class="table">
    <tr>
        <th>
            Tytuł strony
        </th>
        <th>
            Adres strony
        </th>
        <th>
            Pasek boczny
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.HasSidebar)
            </td>
            <td>
                @Html.ActionLink("Edytuj stronę", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
