@model IEnumerable<Cms.Models.ViewModels.Pages.AdvertisementViewModel>

@{
    ViewBag.Title = "LeadAdvertisement";
}

<h2>Nowa rekalma na stronie</h2>

<p>
   
        @Html.ActionLink("Dodaj nową", "LeadAdvertisementNew");
   

</p>
@if (!Model.Any())
{
    <h3 class="text-center">Brak Reklam</h3>


}
else 
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Create)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Update)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Create)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Update)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Konfiguru", "ConfigAdvertisement", new { id = item.Id }) |
                   <!-- Ajax request-->
                    @Html.ActionLink("Delete", "DeleteAdvertisement", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

}
