<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#563d7c">
    <title>@ViewBag.PageTitle</title>
    <link href="~/Template/css/main.css" rel="stylesheet">
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />

</head>
<body>

    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-md-5 py-4">
                        @Html.Action("PagesMenuPartial", "Pages")
                    </div>
                    <div class="col-sm-5 offset-md-1 py-4">


                        <div class="col-sm-4 offset-md-1 py-4 float-right">
                            <h3 class="text-white">Strefa użytkownika</h3>
                            <ul class="list-unstyled ">

                                @if (!Request.IsAuthenticated)
                                {
                                    <li><a href="/Account/Login" class="text-white">Zaloguj</a></li>
                                }
                                <!-- Role -->
                                @if (Request.IsAuthenticated)
                                {
                                    if (User.IsInRole("default"))
                                    {
                                        @Html.Action("ProfileAccountMenuPartial", "Account")
                                    }
                                    else
                                    {
                                        <li><a href="/Admin/Dashboard/Index" class="text-white">Panel Administracyjny</a></li>
                                    }
                                    <li><a href="/Account/Logout" class="text-white">Wyloguj</a></li>

                                }
                            </ul>
                        </div>


                      
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex ">
                <div class="justify-content-start">
                    <a href="/" class="navbar-brand d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z" /><circle cx="12" cy="13" r="4" /></svg>
                        <strong>cmsShop</strong>
                    </a>
                </div>
                <div class="justify-content-between">
                    <form class="form-inline mt-2 mt-md-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Szukaj" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Znajdź produkt</button>
                    </form>
                </div>
                <div class="justify-content-end">                   
                    <div class="cart">
                            @Html.Action("CartViewPartial", "Cart")                         
                        </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </header>



    <!-- Navabar Categories placeholder-->


    <main role="main" class="flex-shrink-0  bg-light">




        <!-- if Home show baner-->
        @if (ViewBag.IsHome == "true")
        {//
            <!-- show carusel with baners and images-->
            <section class="jumbotron text-center">
                <!--Partial Carusel-->
                <div class="container">
                    <h1>Album example</h1>
                    <p class="lead text-muted">
                        Something short and leading about the collection below—its contents, the creator, etc. Make it short and
                        sweet, but not too short so folks don’t simply skip over it entirely.
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">Main call to action</a>
                        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                    </p>
                </div>
            </section>

        }
        <div class="container">


            <!--Partial - render body-->
            @if (ViewBag.Sidebar == "1")
            {
                <div class="row">
                    <div class="col-xs-4 col-md-2">
                        <!-- Categories Partial-->
                        @Html.Action("CategoryMenuPartial", "Shop")
                    </div>
                    <div class="col-md-10 col-xs-8">
                        <p class="lead">
                            @RenderBody()
                        </p>
                        <!-- If is home and shop is on show last add products-->
                        @if (ViewBag.IsHome == "true")
                        {//

                            @Html.Action("ListAllProductsNew", "Shop")
                          

                        }
                        <!--End Section-->

                    </div>

                </div>

            }
            else
            {<div class="row">
                    <div class="col-xs-12 col-md-12 ">
                        <p class="lead">
                            @RenderBody()
                        </p>
                    </div>
                </div>
            }

        </div>



    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <!-- site Menu-->
                <a href="#">Back to top</a>
            </p>
            <div class="float-left">
                @Html.Action("PagesMenuPartial", "Pages")
            </div>

        </div>
    </footer>
    <script src="/Scripts/jquery-3.3.1.js"></script>
    <script src="/Scripts/esm/popper.js"></script>
    <script src="/Template/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/Scripts/jquery.fancybox.js"></script>
    <script src="/Template/front.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
