<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#563d7c">
    <title>@ViewBag.PageTitle</title>

    @Styles.Render("~/Template/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container d-flex flex-column flex-md-row justify-content-between">



                <!-- render menu -->
                @Html.Action("PagesMenuPartial", "Pages")

                <u class="navbar-right">
                    @Html.Action("CartViewPartial","Cart")
                </ul>
            </div>

        </nav>
    </header>

    <main role="main" class="flex-shrink-0">
       
        
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 col-md-2">
                        <!-- Categories Partial-->
                        @Html.Action("CategoryMenuPartial", "Shop")
                    </div>
                    <!--Partial - render body-->
                    @if (ViewBag.Sidebar == "1")
                    {

                        <div class="col-md-8 ">
                            <p class="lead">
                                @RenderBody()
                            </p>
                        </div>
                        <div class="col-md-4 order-md-3 mb-4">
                            <!-- Render Sidebar-->
                            @Html.Action("PagesSideBarPartial", "Pages")
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-6 col-md-9 ">
                            <p class="lead">
                                @RenderBody()
                            </p>
                        </div>
                    }
                </div>
            </div>
        


    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted"> @DateTime.Now.Year.</span>
        </div>
    </footer>

    @Scripts.Render("~/bundles/templates")
    @RenderSection("scripts", required: false)
</body>
</html>
