<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.PageTitle</title>

    @Styles.Render("~/Template/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="site-header sticky-top py-1">
            <div class="container d-flex flex-column flex-md-row justify-content-between">

                @Html.ActionLink("Nazwa sklepu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })


                <!-- render menu -->
                @Html.Action("PagesMenuPartial", "Pages")


            </div>

        </nav>
    </header>
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <!--Partial - render body-->
            @if (ViewBag.Sidebar == "1")
            {
                <div class="col-xs-12 col-md-7">
                    @RenderBody()
                </div>
                <div class="col-xs-12 col-md-3">
                    <!-- Render Sidebar-->

                </div>
            }
            else
            {
                <div class="col-xs-12 col-lg-12">
                    @RenderBody()
                </div>
            }

        </div>

    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted"> @DateTime.Now.Year.</span>
        </div>
    </footer>




    @Scripts.Render("~/bundles/templatesc")
    @RenderSection("scripts", required: false)
</body>
</html>
