@model IEnumerable<Cms.Models.ViewModels.Shop.OrderViewModelUse>

@{
    ViewBag.Title = "Orders";
}

<h2>Zamówienia</h2>
@if (!Model.Any())
{
    <h2>Brak zamówień</h2>
}
else
{
<p>
    @Html.ActionLink("Dodaj nowe zamówienie", "CreateNewOrder")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrdersNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrdersNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
            <!-- foreach slownik -->
            @foreach(var itemProductsAndQuantity in item.ProductsAndQuantity)
            {
                @itemProductsAndQuantity.Key @:x @itemProductsAndQuantity.Value <br/>
            }


        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
}